/* @media screen and (max-height: 450px) {
    .body {padding-top: 15px;
        width: 80%;
        font-size: 18px;
        background-color: black;
    }
  } */

.body {
    text-align: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5%;
    width: 60%;
    padding: 0px;
/*     background-color: rgb(255, 255, 255);
 */
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */
   
}


.input {
    width: 70%;
    height: 60px;
    padding: 12px 20px;
    margin:  5px 0;
    box-sizing: border-box;
    background-color: rgb(69, 75, 67);
    border: 1px solid rgb(69, 75, 67);
    border-bottom: 1px solid rgb(138, 138, 138);
    border-radius: 5px;
    transition: border-bottom 2s ease-in-out;
    transition: width 0.5s ease-in-out ;
}

.input:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 73%;
}
.body h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(17px + 6vmin);
    font-weight: lighter;
    font-variant: small-caps;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 231, 231);
}  
.body h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(15px + 3vmin);
    font-weight: lighter;
    font-variant: small-caps;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 231, 231);
}  
.button {
    width: 80%; 
    background-color: rgb(179, 179, 179);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition: background-color 0.5s ease;
}  
.button:hover {
    background-color: rgb(47, 47, 47);
    color: white;
}

  
.radio-btn {
    padding: 12px 20px;
    margin: 10px 20px;

}

#img1 {
    z-index: -1;
    position: absolute;
    left: 300px;
    top: 00px; 
    width: 100px;
    height: 100px;
    animation-name: imgAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;    
/*     position: relative;
 */
    
 } 


 @keyframes imgAnim {
    0%   {left:300px; }
 /*    25%  {left:700x; }
    50%  {left:700px; } */
    85%  {left:700px;}
    100% {left:300px;}

/*     from {
        left:0px;
    }
    to {
        left:700px;
    } */

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
    }
 }

.logout-btn {
    background-color: rgb(179, 179, 179);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    transition: background-color 0.5s ease;
    position: absolute;
    bottom: 80px;
    margin-left:-70px;

}


.logout-btn:hover {
    background-color: rgb(47, 47, 47);
    color: white;
}