.home-content    {
    margin-top: 50px;
    padding-top: 20px;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);


}

.question {
    background-color: blue;
    padding: 10px;
    height: 200px;
    width: 60%;
    margin: auto;
    color: white;
}

.home3 {
    height: 600px;
    width: 60%;
    margin: auto;
    padding-top: 200px;
}