.profile {
  text-align: center;
  background-color: violet;
}

.score {
    position: fixed;
    margin-left: 20px;
    padding: 10px;
    background-color: yellowgreen;
}



/* @media only screen and (max-width:670px) {
    .score, .profile {
      width:90%;
        margin: auto;
    }
  } */