
body {
  background-color: linear-gradient(to bottom right, rgb(69, 75, 67), rgb(0, 0, 0));
  background-image: linear-gradient(to bottom right, rgb(69, 75, 67), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  font-family: Arial;
  text-align: center;

}




@media screen and (max-height: 600px) {
  /* body {
    background-image: linear-gradient(to bottom right, rgb(69, 75, 67), rgb(0, 0, 0));
  } */
}

