
.App-content {
  background-color: tomato;
  height: 200px;
}

.App-header {
 /*  position: -webkit-sticky; /* Safari 
  position: sticky;
  top: 0;   */
  background-color: #000000;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body {
  background-color: #fcfcfc;
  background-image: linear-gradient(to bottom right, rgb(240, 255, 234), rgb(5, 2, 199));
  color: rgb(0, 0, 0);
  padding: 40px;
  font-family: Arial;
  text-align: center;
/*   background-image: url("./source.gif");
  background-size: 100% 100%;   */
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media screen and (max-height: 600px) {
  .body {
      width: 90%;
      font-size: 18px;
  }
  .body input{
    height: 20px;
  }
  body {
    background-color: rgb(139, 199, 98);
  } 
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
